
{% if page.previous.url != nil %}
<!-- yes -->
  <div class="arrow_left ">
    <a href="{{ page.previous.url }}"><img src="/img/gn_arrow_left.png" height="24px" width="40px" border="0" /></a>
  </div>
{% endif %}

{% if page.next.url != nil %}
<div class="arrow_right ">
  <a href="{{ page.next.url }}"><img src="/img/gn_arrow_right.png" height="24px" width="40px" border="0" /></a>
</div>
{% endif %}


<script>
$(document).ready(function(){
    $(".arrow_left").hover(
	    function() {
		    $(this).animate(
			    {marginLeft:'-4px'}, 'fast')
	    }
    )
    $(".arrow_left").mouseleave(
	    function() {
		    $(this).animate(
			    {marginLeft:'0px'}, 'fast')
	    }
    )
    $(".arrow_right").hover(
	    function() {
		    $(this).animate(
			    {marginRight:'-4px'}, 'fast')
	    }
    )
    $(".arrow_right").mouseleave(
	    function() {
		    $(this).animate(
			    {marginRight:'0px'}, 'fast')
	    }
    )
});
</script>
