<script>
$(document).ready(function(){
    $(".arrow_left ").hover(
	    function() {
		    $(this).animate(
			    {marginLeft:'-4px'}, 'fast')
	    }
    )
    $(".arrow_left ").mouseleave(
	    function() {
		    $(this).animate(
			    {marginLeft:'0px'}, 'fast')
	    }
    )
    $(".arrow_right ").hover(
	    function() {
		    $(this).animate(
			    {marginRight:'-4px'}, 'fast')
	    }
    )
    $(".arrow_right ").mouseleave(
	    function() {
		    $(this).animate(
			    {marginRight:'0px'}, 'fast')
	    }
    )
});
</script>
<script>
$(document).ready(function(){
$('.thumbview').mouseenter( function () {
  $(this).addClass('fadeO').removeClass('fade');
} ).mouseleave( function () {
  $(this).addClass('fade').removeClass('fadeO');
} );
});
</script>
