<html>
{% include header.html %}
<body class="">


<!-- nav -->
{% include nav.html %}
<section class="discovered animated fadeIn" >
  {% if page.layout == 'work' %}
  {% include arrows.html %}
  {% endif %}
  {% if page.layout == 'thumbs' %}
  {% include paginate.html %}
  {% endif %}
<!-- content -->
{{content}}
</section>
{% if page.url != '/' and page.layout != 'work' and page.layout != 'thumbs' and page.layout != 'work-discovered' and page.layout != 'thumbs-discovered' %}
{% include footer.html %}
{% endif %}

{% include scripts.html %}
<!-- footer -->


</body>
</html>
